/target/classes/com/example/ai/controller/ChatController.class
/target/classes/com/example/ai/SpringAiDemoApplication.class
/target/classes/application.yml
/.idea/$PROJECT_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/CoolRequestSetting.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qaplug_profiles.xml
/.idea/vcs.xml
/target/classes/com/example/ai/controller/RagController.class
/target/classes/com/example/ai/service/RagService.class
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/spring-ai-demo-1.0.0.jar
/target/spring-ai-demo-1.0.0.jar.original
/.idea/.cache/.Apifox_Helper/.toolWindow.db
/.idea/ApifoxUploaderProjectSetting.xml
/.idea/CoolRequestCommonStatePersistent.xml
