/target/classes/com/example/ai/controller/ChatController.class
/target/classes/com/example/ai/SpringAiDemoApplication.class
/target/classes/application.yml
/.idea/$PROJECT_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/CoolRequestSetting.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qaplug_profiles.xml
/.idea/vcs.xml
